<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <mtfibankpaymentmethod>
                <active>1</active>
                <title>Fibank Credit покупки на Кредит</title>
                <order_status>pending_payment</order_status>
                <instructions>Инструкции</instructions>
                <payment_action>true</payment_action>
                <model>Avalon\Mtfibankpayment\Model\MtfibankPaymentMethod</model>
                <group>offline</group>
            </mtfibankpaymentmethod>
            <!-- payment-config -->
        </payment>
    </default>
</config>
